<BottomNavigation>
    <TabStrip>
        <TabStripItem class="navigation__item">
            <Label text="WEATHER ☁" style= "font-size:12px"></Label>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="TIDES ≋ " style= "font-size:12px"></Label>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="SAFETY ✔ " style= "font-size:12px"></Label>
        </TabStripItem>
    </TabStrip>

    <TabContentItem>
        <page-router-outlet name="weatherTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="tidesTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="safetyTab"></page-router-outlet>
    </TabContentItem>
</BottomNavigation>
