<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<FlexboxLayout class="roundedBox" height="65%" backgroundColor="lightgray" flexDirection="column" alignItems="flex-start">


    <StackLayout orientation="vertical">

        <button text="Today" class="btn"></button>
        <button text="Monday" class="btn"></button>
        <button text="Tuesday" class="btn"></button>
        <button text="Wednesday" class="btn"></button>
        <button text="Thursday" class="btn"></button>
        <button text="Friday" class="btn"></button>
        <button text="Saturday" class="btn"></button>


    </StackLayout>



</FlexboxLayout>
