
.roundedBox {
    border-radius: 25px;
    margin-top: 10px;
}


.btn {
    background-color:transparent;
    padding:none;
    font-size: 9px;
    width: 8.4%;
    border-radius: 15px;
    height: 5%;
  }

  .calbtn{
    background-color:white;

  }
