<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<FlexboxLayout class="roundedBox" height="50%" backgroundColor="lightgray" flexDirection="column" alignItems="flex-start">


    <StackLayout orientation="vertical">

        <button text="TODAY" class="btn"></button>
        <button icon="res://calender-icon" style="font-size: 20px" class="calbtn"></button>
        <button class="fas fa-calendar-week"></button>
        <button class="btn"><i class="fa fa-home"></i></button>
        <button class="btn"><i class="fas fa-calendar-week"></i></button>
        <button class="btn"><i class="fas fa-calendar-week"></i></button>
        <button class="btn"><i class="fas fa-calendar-week"></i></button>

    </StackLayout>

    <StackLayout orientation="vertical">

    </StackLayout>


</FlexboxLayout>
