
.roundedBox {
    border-radius: 25px;
    margin-top: 10px;

}


.btn {
    margin-top: 25px;
    background-color:white;
    padding:none;
    font-size: 9px;
    width: 20%;
    border-radius: 5px;
    height: 10%;
  }



